* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background-color: rgb(232, 232, 205);
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #f1cc8b;
  background-color: #d34f17;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #f1cc8b;
  background-color: #d34f17;
}

figure {
  width: 150px;
  background-color: #e3ddcb;
}

.highlighted-text {
  font-weight: bolder;
}


#contact-section {
  background-color: #f1cc8b;
}